<form [formGroup]="$any(stationsForm)">
    <mat-stepper orientation="vertical" (selectionChange)="addSelector($event)">
        <mat-step state="train" completed="false">
            <ng-template matStepLabel>Route {{ route().position }}</ng-template>
        </mat-step>
        <ng-template matStepperIcon="train">
            <mat-icon>train</mat-icon>
        </ng-template>

        <!-- Stations -->
        @for (control of pathControls; track control.value) {
            @let stationName = [control.value] | getConnectedCity: stationEntities();

            <mat-step state="train" completed="false">
                <ng-template matStepLabel>
                    {{ stationName }}
                </ng-template>

                <!-- #selectOptions template-->
                <ng-container #stepContainer />
            </mat-step>
        }

        <ng-template #selectOptions let-idx>
            <mat-form-field appearance="outline">
                <mat-label>Connect city</mat-label>

                <mat-select #select (selectionChange)="selectCity(idx, $event.value)">
                    @for (station of stationList(); track station?.id) {
                        <mat-option [value]="station?.id">
                            {{ station?.city }}
                        </mat-option>
                    }
                </mat-select>
            </mat-form-field>

            <button type="button" mat-button (click)="updateRoute()">Edit</button>
        </ng-template>

        <!-- Add station -->
        <mat-step state="add" completed="false">
            <ng-template matStepLabel>Add station</ng-template>

            <mat-form-field [appearance]="'outline'">
                <mat-label>Station name</mat-label>
                <mat-select #select (selectionChange)="updateRoute($event.value)">
                    @for (station of stationList(); track station?.id) {
                        <mat-option [value]="station?.id">
                            {{ station?.city }}
                        </mat-option>
                    }
                </mat-select>
            </mat-form-field>

            <button mat-button>Add</button>
        </mat-step>

        <ng-template matStepperIcon="add">
            <mat-icon>add</mat-icon>
        </ng-template>
    </mat-stepper>
</form>
