@let schedule = scheduleService.schedule$ | async;
@let path = scheduleService.path$ | async;

<mat-accordion class="example-headers-align">
    @for (ride of schedule; track ride.rideId) {
        <mat-expansion-panel #panel [expanded]="$first">
            <mat-expansion-panel-header>
                <mat-panel-description>
                    Ride {{ ride.rideId }}

                    <button
                        mat-icon-button
                        type="button"
                        (click)="remove(ride.rideId); $event.stopPropagation()"
                    >
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-panel-description>
            </mat-expansion-panel-header>

            @if (panel.expanded) {
                <app-ride [ride]="ride" [path]="path" />
            }
        </mat-expansion-panel>
    }
</mat-accordion>
