:host {
    display: block;
    max-height: 60vh;
    overflow: scroll;
}

.segment-wrap {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-radius: 5px;
    align-items: center;

    div {
        margin: 5px;
    }
}

.background {
    background-color: #68686814;
}

input {
    font-size: 16px;
    background-color: transparent;
    outline: none;
    border: none;
}

.price-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.price-input-wrap {
    max-width: 100px;

    input {
        width: -webkit-fill-available;
        color: gray;
        cursor: default;
    }
}

.edit {
    input {
        color: black;
        outline: auto;
    }
}

form {
    min-height: 100px;
}
