@let controls = scheduleForm.controls;
@let departureIdx = 0;
@let arrivalIdx = 1;

<form [formGroup]="$any(scheduleForm)">
    @for (segmentFormGroup of controls; track $index) {
        @let segmentControls = segmentFormGroup.controls;

        @let departureCityName = [path?.at($index)] | getConnectedCity: (stationEntities$ | async);
        @let arrivalCityName =
            [path?.at($index + 1)] | getConnectedCity: (stationEntities$ | async);

        @let departureTime = segmentControls.time.get(departureIdx.toString())?.value;
        @let arrivalTime = segmentControls.time.get(arrivalIdx.toString())?.value;

        @let departureTimeNextCity =
            $last ? '' : controls.at($index + 1)?.controls?.time?.get(arrivalIdx.toString())?.value;
        @let arrivalTimePreviousCity =
            $first
                ? ''
                : controls.at($index - 1)?.controls?.time?.get(arrivalIdx.toString())?.value;

        <section class="segment-wrap" [class.background]="$even" [formGroupName]="$index">
            <app-edit
                #time
                formArrayName="time"
                class="time-control-wrap"
                [class.edit]="time.isEdit"
            >
                <div class="departure-time">
                    Departure from {{ departureCityName }}:
                    <input
                        readonly
                        [owlDateTimeTrigger]="dtFrom"
                        [formControlName]="departureIdx"
                        [owlDateTime]="dtFrom"
                        [max]="arrivalTime"
                        [min]="arrivalTimePreviousCity"
                        [disabled]="!time.isEdit"
                    />
                    <owl-date-time #dtFrom [disabled]="!time.isEdit" />
                </div>

                <div class="arrival-time">
                    Arrival to {{ arrivalCityName }}:
                    <input
                        readonly
                        [formControlName]="arrivalIdx"
                        [owlDateTimeTrigger]="dtTo"
                        [owlDateTime]="dtTo"
                        [min]="departureTime"
                        [max]="departureTimeNextCity"
                        [disabled]="!time.isEdit"
                    />
                    <owl-date-time #dtTo [disabled]="!time.isEdit" />
                </div>
            </app-edit>

            <app-edit #priceEdit [formGroupName]="'price'" [position]="'left'">
                @for (price of segmentControls.price.getRawValue() | objectEntries; track $index) {
                    @let typeName = price.at(0);

                    <div class="price-wrap">
                        {{ typeName }} $
                        <div class="price-input-wrap" [class.edit]="priceEdit.isEdit">
                            <input
                                #priceInput
                                type="number"
                                [formControlName]="typeName ?? ''"
                                [readonly]="!priceEdit.isEdit"
                                (change)="handleInputPriceValue(priceInput)"
                            />
                        </div>
                    </div>
                }
            </app-edit>
        </section>
    }
</form>
