@let stationsIds = path!;
@let stationEntities = stationEntities$ | async;
@let departureIdx = 0;
@let arrivalIdx = 1;

@let controls = scheduleForm.controls;

<form [formGroup]="$any(scheduleForm)">
    @for (segmentFormGroup of controls; track $index; let firstSegment = $first) {
        @let segmentControls = segmentFormGroup.controls;
        <!-- @let departureTimeControl = segmentControls.time.get(departureIdx); -->
        <!-- @let arrivalTimeControl = segmentControls.time.get(arrivalIdx); -->

        <div class="segment-wrap" [class.background]="$even" [formGroupName]="$index">
            <ng-container [formArrayName]="'time'">
                <div class="time-control-wrap">
                    <div class="departure">
                        Departure from
                        {{ [stationsIds[$index]] | getConnectedCity: stationEntities }}:

                        <input
                            readonly
                            [owlDateTimeTrigger]="dtFrom"
                            [formControlName]="departureIdx"
                            [owlDateTime]="dtFrom"
                        />
                        <owl-date-time #dtFrom />
                    </div>

                    <div class="arrival">
                        Arrival to
                        {{ [stationsIds[$index + 1]] | getConnectedCity: stationEntities }}:

                        <input
                            readonly
                            [formControlName]="arrivalIdx"
                            [owlDateTimeTrigger]="dtTo"
                            [owlDateTime]="dtTo"
                        />
                        <owl-date-time #dtTo />
                    </div>
                </div>
            </ng-container>

            <ng-container [formGroupName]="'price'">
                <div>
                    @for (
                        price of segmentControls.price.getRawValue() | objectEntries;
                        track $index
                    ) {
                        <div>
                            {{ price[0] }} $
                            <input type="number" matInput [formControlName]="price[0]" />
                        </div>
                    }
                </div>
            </ng-container>
        </div>
    }
</form>
