@let pageParams = pageParams$ | async;
@let stationsEntities = stationsEntities$ | async;

@let fromCity = pageParams?.query?.from | getCityName: stationsEntities;
@let toCity = pageParams?.query?.to | getCityName: stationsEntities;

<app-ride-info
    [dateOfDeparture]="dateOfDeparture$ | async"
    [fromCity]="fromCity?.toString() ?? null"
    [toCity]="toCity?.toString() ?? null"
    [pageParams]="pageParams"
    (openSchedule)="openDialog()"
/>

<app-carriage [carriage]="carriagesEntities$ | async" />
